<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>

  <div class="w3-card-4">
    <div class="w3-container w3-blue">
      <h2>Remind me to pay for...</h2>
    </div>

<!-- The form !-->
    <form action="/" method="POST" class="w3-container">
      <p>
      <label class="w3-text-grey"><b>Pay to</b></label>
      <input class="w3-input" type="text" name="organization"></p>
      <p>
      <label class="w3-text-grey"><b>Payment description</b></label>
      <input class="w3-input" type="text" name="description"></p>
      <p>
      <p>
      <label class="w3-text-grey"><b>Date due</b></label>
      <input class="w3-input" type="date" name="date"></p>
      <p>
      <p>
      <label class="w3-text-grey"><b>Amount to be paid</b></label>
      <input class="w3-input" type="text" name="amount"></p>
      <p>
      <button class="w3-btn w3-blue">Add</button>
      <button formaction="/reset" class="w3-btn w3-blue">Reset</button></p>
     </p>


<!-- Each item !-->
<% for(var i=0; i<items.length; i++) { %>
  <div class="w3-third">
        <div class="w3-card">
          <img class="w3-round" src="./bills.jpg" style="width:100%">
              <div class="w3-container" >
                   <h4 style="font-weight:bold;"> <%= items[i].organization %> </h4>
                   <h4><%= items[i].description %> </h4>
                   <h5><%= items[i].date %> </h5>
                   <h4> <%= items[i].amount %></h4>
                   <p id="demo"></p>
                        <script>
                        var countDownDate = new Date(<%= items[i].date %>).getTime();
                        var x = setInterval(function() {
                          var now = new Date().getTime();
                          var distance = countDownDate - now;
                          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                          document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                          + minutes + "m " + seconds + "s ";

                          if (distance < 0) {
                            clearInterval(x);
                            document.getElementById("demo").innerHTML = "EXPIRED";
                          }
                        }, 1000);
                       </script>
                   <button formaction="/delete" class="w3-btn w3-blue">Paid</button>
              </div>
        </div>
  </div>
<% } %>

   </form>
</div>


</body>
</html>
